body {
  font-family: "Laila", sans-serif;
  color: black;
  background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=22");
}
h1 {
  font-size: 35px;
  color: #0a0a0a;
  line-height: 28px;
  margin-bottom: 0;
  line-height: 1;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #0a0a0a;
  font-size: 20px;
  line-height: 25px;
}
li:first-letter {
  text-transform: capitalize;
}
.app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  background-image: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 15px;
  height: 450px;
  box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.6);
}
.display {
  margin-top: 20px;
  margin-bottom: 20px;
}
#temp {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.active {
  color: black;
}
#celsius-link,
#fahrenheit-link,
.hover {
  text-decoration: none;
  cursor: default;
}
.forecast {
  margin-top: 20;
  text-align: block;
  color: #0a0a0a;
}
.date {
  font-size: 16px;
  opacity: 0.9;
}
.min-temp {
  opacity: 0.45;
}
.footer {
  text-align: center;
}
